<%= form_with(model: project_list, local: true) do |form| %>
  <% if project_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project_list.errors.count, "error") %> prohibited this project_list from being saved:</h2>

      <ul>
      <% project_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :project_list_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :project_list_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
